.content img{
    width: 100%;
}
.descriptionBlock{
    padding: 10px;
    background: #ffffff;
    display: grid;
    grid-template-columns: 230px auto; 
    grid-template-rows: 30px auto auto;
}
.description{
    grid-column: 2;
    grid-row: 2;
}
.description b{
    margin-right: 5px;
}
.contacts{
    border-top: 1px solid rgb(172, 172, 172);
    padding-top: 5px;
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 10px;
    opacity: 0.6;
}
.name{
    grid-column: 2;
    grid-row: 1;
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    padding: 0;
}
.descriptionBlock img{
    width: 200px;
    margin-top: -100px;
    border-radius: 50%;
    border: 3px solid #fff;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}
input.changeBtn{
    display: none;
}
.imgBlock{
    width: max-content;
    height: max-content;
    position: relative;
}
.imgBlock:hover .changeLabel{
    opacity: 1;
    transition: 0.5s;
}
.changeLabel{
    position: absolute;
    top: -45px;
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.6);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    opacity: 0;
}
.changeLabel img{
    width: 60px;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
}